<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" style="margin-top: 70px;" *ngIf="isLoggedIn">
  <h2 style="padding: 10px; margin: 5px">Your added rules</h2>
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Beneficiary Or Payer Account of Transaction</th>
        <th>Beneficiary Or Payer Name of Transaction</th>
        <th>Details of Transaction</th>
        <th>Income Statement Type of Transaction</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let r of rules; let i = index">
        <td>{{i + 1}}</td>
        <td>{{r.name}}</td>
        <td>{{r.transactionBeneficiaryOrPayerAccount}}</td>
        <td>{{r.transactionBeneficiaryOrPayerName}}</td>
        <td>{{r.transactionDetails}}</td>
        <td>{{r.incomeStatementType}}</td>
        <td>
              <button class="btn btn-danger" (click)="remove(r.id)">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-info" (click)="openDialog()" style="float: right; margin: 5px">Add new rule</button>
  </div>
</div>
