<nav class="navbar navbar-expand-md bg-light dark fixed-top">
  <a class="navbar-brand" href="/">
    <div class="logo-image">
      <img src="https://cdn0.iconfinder.com/data/icons/accounting-2-2/66/138-512.png" class="img-fluid">
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Upload</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" routerLink="/transactions">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/incomeStatementTypes">Income statement types</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rules">Rules</a>
      </li>
    </ul>
  </div>

</nav>
