<div class="container-fluid" style="margin-top: 70px;">
  <h3 style="padding: 10px; margin: 5px"*ngIf="isLoggedIn">Your uploaded files </h3>
  <div class="col-sm-7" *ngIf="isLoggedIn && files" >
    <table class="table table-striped" *ngFor="let f of files; let i = index">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Upload date</th>
        <th>Transactions</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{i + 1}}</td>
        <td>{{f.name}}</td>
        <td>{{f.uploadDate}}</td>
        <td>{{f.transactions.values()}}</td>
        <td>
          <button class="btn btn-danger" (click)="remove(f.id)">Delete file and transactions</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr class="solid">
  <p>Please make sure that transaction date in CSV file is in format dd-MM-yyyy</p>
  <form (ngSubmit)="upload()" [formGroup]="form">
    <input ng-model="file_upload" name="file" type="file" id="file" (change)="fileChange($event)" #fileInput>
    <select>
      <option
        *ngFor="let b of banks"
        [ngValue]="this.b">
        {{b}}
      </option>
    </select>
    <button class="btn btn-info" type="submit" style="margin: 5px; margin-left:30px">Upload</button>
  </form>
</div>

