<div class="container-fluid">
  <h4 style="margin-top: 5px">Upload a new file</h4>
  <div class="form-group">
    <div class="alert alert-danger" role="alert" *ngIf="isUploadFailed">
      Upload failed: {{ errorMessage }}
    </div>
  </div>
  <div>
    <p>How to upload a file:</p>
    <ul>
      <li>Download bank account statement file from your internet bank</li>
      <li>Accepted file types are: <b>CSV, XML</b></li>
    </ul>
  </div>
  <hr class="solid">
  <form (ngSubmit)="upload()" [formGroup]="form">
    <input ng-model="file_upload" name="file" type="file" id="file" (change)="fileChange($event)" #fileInput>
    <select>
      <option
        *ngFor="let b of banks"
        [ngValue]="this.b">
        {{b}}
      </option>
    </select>
    <button class="btn btn-info" type="submit" style="margin: 5px; margin-left:30px">Upload</button>
  </form>
</div>
