<div class="container-sm" style="margin-top: 10px">
  <div class="jumbotron bg-light">
    <h4 class="display-4">Income statement service</h4>
    <p class="card-text">This is a simple and user-friendly application for generating income statement from your bank statement file</p>
    <hr class="my-4">
    <div *ngIf="!isLoggedIn">
      <h5 class="text-info">To start: </h5>
      <button class="btn btn-info" routerLink="/upload">Upload new file</button>
      <button class="btn btn-info" style="margin: 5px;" routerLink="/register">Register</button>
      <hr class="solid">
      <h6 class="card-text">You can use income statement service with or without an account</h6>
      <div>
        <p class="text-break">How to use income statement service with an account: </p>
        <ul>
          <li> Download your bank account statement file in CSV or XML format from the internet bank</li>
          <li> Upload your file here</li>
          <li> Define income statement types for your transactions</li>
          <li> Define rules to speed up the transaction type defining process</li>
          <li> Get the income statement for your defined period</li>
          <li> Insert report values to Äriregister</li>
        </ul>
        <p>How to use income statement service without registering a new account: </p>
        <ul>
          <li> Download your bank account statement file in CSV or XML format from the internet bank</li>
          <li> Upload your file here</li>
          <li> Define income statement types for your transactions</li>
          <li> Get the income statement report which values you can insert to Äriregister</li>
        </ul>
        <hr class="solid">
        <p class="text-break">What is the difference? Without an account:</p>
        <ul>
          <li>Your data is not save into the database and it will be deleted after closing the browser</li>
          <li>All uploaded transactions will be included in the report and report period cannot be defined</li>
          <li>Rule functionality to speed up the transaction type defining process is disabled</li>
        </ul>
      </div>
    </div>
    <div *ngIf="isLoggedIn">
      <p class="text-break">How to use income statement service with an account: </p>
      <ul>
        <li> Download your bank account statement file in CSV or XML format from the internet bank</li>
        <li> Upload your file here</li>
        <li> Define income statement types for your transactions</li>
        <li> Define rules to speed up the transaction type defining process</li>
        <li> Get the income statement for your defined period</li>
        <li> Insert report values to Äriregister</li>
      </ul>
      <p class="lead">
        <button class="btn btn-info" routerLink="/upload">Upload a new file</button>
      </p>
    </div>
  </div>
</div>


