<div class="container" style="margin-top: 70px;">
  <h2>Your transactions</h2>
  <button class="btn btn-success" style="float: right;margin-bottom: 25px;">Save changes</button> <!--(click)="selectTransaction(t-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>AccountNumber</th>
      <th>Amount</th>
      <th>Date</th>
      <th>BeneficiaryOrPayerName</th>
      <th>Details</th>
      <th>Income statement type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of transactionList; let i = index">
      <td>{{i + 1}}</td>
      <td>{{t.accountNumber}}</td>
      <td>{{t.amount}}</td>
      <td>{{t.date}}</td>
      <td>{{t.beneficiaryOrPayerName}}</td>
      <td>{{t.details}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Müügitulu</a>
            <a class="dropdown-item" href="#">Kaup, teenused</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
